:root {
  --background-color: #F2F2F2;
  --primary-color: #BBDFF5;
  --secondary-color: #E3C78C;
  --accent1-color: #5A666D;
  --text-color: #2B2B2B;
  --heading-font: "Merriweather", serif;
  --body-font: "Lato", sans-serif;
}

@media screen and (min-width: 720px) {
  header {
    display: grid;
    grid-template-columns: 2fr 1fr auto;
    align-items: center;
    background-color: var(--primary-color);
  }

  #header-txt {
    font-size: 2rem;
    font-weight: bold;
    padding-left: 1rem;
    display: block;
    color: var(--text-color);
  }

  nav {
    width: 100%;
    padding: 1px 0 1px 2px;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding: 0 0.5rem 0 0;
  }

  .navigation li {
    margin: 0;
    padding: 0 0.4rem;
  }

  .navigation a {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    background-color: var(--accent1-color);
  }

  .navigation a:hover {
    background-color: var(--secondary-color);
    color: #333;
    font-weight: 700;
  }

  #menu {
    display: none;
  }

  main {
    max-width: 800px;
    margin: 3rem auto;
    background-color: var(--background-color);
  }

  h1 {
    position: absolute;
    top: 6rem;
    right: 36.5rem;
    color: var(--text-color);
  }

  .image-album {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
  }
}