@media screen and (min-width: 720px) {
  header {
    display: grid;
    grid-template-columns: 2fr 1fr auto;
    align-items: center;
  }

  #header-txt {
    font-weight: bold;
    padding-left: 1rem;
  }

  nav {
    width: 100%;
    padding: 1px 0 1px 2px;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding: 0 0.5rem 0 0;
  }

  .navigation li {
    margin: 0;
    padding: 0 0.4rem;
  }

  .navigation a {
    display: block;
    padding: 0.5rem 1rem;
  }

  #menu {
    display: none;
  }

  main {
    max-width: 800px;
    margin: 2.6rem auto;
  }

  h1 {
    position: absolute;
    top: 6rem;
    right: 35.4rem;
  }

  main h2 {
    grid-column: 1 / -1;
    text-align: center;
    margin: 0.3rem 0 1rem;
    padding-bottom: 0.1rem;
    border-bottom: 3px solid var(--accent1-color);
  }

  .image-album {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
  }
}